@model Urun

<div class="product-card-new shadow-sm">

    <!-- Ürün resmi -->
    <a asp-controller="Urun" asp-action="Details" asp-route-id="@Model.Id" class="img-link">
        <div class="product-image-box">
            <img src="~/img/@Model.Resim" alt="@Model.UrunAdi" class="product-image">
        </div>
    </a>

    <!-- Kart alt bilgi -->
    <div class="product-info-new">

        <div class="d-flex justify-content-between align-items-start">
            <!-- Ürün adı -->
            <a asp-controller="Urun" asp-action="Details" asp-route-id="@Model.Id" class="product-title-new">
                @Model.UrunAdi
            </a>

            <!-- Favori -->
            <button class="favorite-icon">
                <i class="fa-regular fa-heart"></i>
            </button>
        </div>

        <!-- Fiyat -->
        <div class="price-line">
            <span class="new-price">@Model.Fiyat.ToString("C2", new System.Globalization.CultureInfo("tr-TR"))
            </span>
        </div>

        <!-- Sepete ekle -->
        <form action="/Cart/AddToCart" method="post" class="me-1 d-inline">
            <input type="hidden" name="urunId" value="@Model.Id">
            <button class="add-to-cart-btn">
                <i class="fa-solid fa-cart-plus me-2"></i> Sepete Ekle
            </button>
        </form>

    </div>

</div>