@model Order
@{
    Layout = "_AdminLayout";
}

<div class="row mt-3">
    <div class="col">
        <div class="card shadow-sm dashboard-card rounded-3">

            <!-- HEADER -->
            <div class="card-header dashboard-card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">
                    Sipariş No: #@Model.OrderId
                </h5>

                <!-- DURUM -->
                <span class="status-badge yes">Onay Bekliyor</span>
            </div>

            <!-- BODY -->
            <div class="card-body">

                <!-- Ürün TABLOSU -->
                <div class="table-responsive">
                    <table class="table dashboard-table align-middle mb-0">
                        <thead>
                            <tr>
                                <th style="width: 60px;">Id</th>
                                <th style="width: 100px;">Resim</th>
                                <th>Ürün Adı</th>
                                <th>Fiyat</th>
                                <th>Adet</th>
                                <th>Toplam</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.OrderItems)
                            {
                                <tr>
                                    <td>@item.UrunId</td>

                                    <td>
                                        <img src="~/img/@item.Urun.Resim"
                                             class="product-thumb"
                                             style="width: 70px; height: 70px;" />
                                    </td>

                                    <td>@item.Urun.UrunAdi</td>
                                    <td>@item.Fiyat.ToString("N2") ₺</td>
                                    <td>@item.Miktar</td>
                                    <td>@(item.Fiyat * item.Miktar)</td>
                                </tr>
                            }

                            <!-- Ara Toplam - Vergi - Toplam -->
                            <tr class="fw-semibold">
                                <td colspan="4"></td>
                                <td>Ara Toplam</td>
                                <td>@Model.AraToplam().ToString("N2") ₺</td>
                            </tr>

                            <tr class="fw-semibold">
                                <td colspan="4"></td>
                                <td>Vergi</td>
                                <td>@((Model.AraToplam() * 0.2).ToString("N2")) ₺ (%20)</td>
                            </tr>

                            <tr class="fw-semibold">
                                <td colspan="4"></td>
                                <td>Kargo</td>
                                <td>0 TL</td>
                            </tr>

                            <tr class="fw-semibold">
                                <td colspan="4"></td>
                                <td>Toplam</td>
                                <td>@Model.ToplamFiyat.ToString("N2") ₺</td>
                            </tr>

                        </tbody>
                    </table>
                </div>


                <!-- SİPARİŞ BİLGİLERİ -->
                <div class="table-responsive mt-4">
                    <table class="table dashboard-table mb-0">
                        <tbody>
                            <tr>
                                <th style="width: 250px;">Tahmini Teslim Tarihi:</th>
                                <td>@Model.SiparisTarihi.AddDays(3).ToShortDateString()</td>
                            </tr>

                            <tr>
                                <th>Ad Soyad:</th>
                                <td>@Model.AdSoyad</td>
                            </tr>

                            @if (Model.SiparisNotu != null)
                            {
                                <tr>
                                    <th>Sipariş Notu:</th>
                                    <td>@Model.SiparisNotu</td>
                                </tr>
                            }

                            <tr>
                                <th>Telefon No:</th>
                                <td>@Model.Telefon</td>
                            </tr>

                            <tr>
                                <th>Teslimat Adresi:</th>
                                <td>@Model.AdresSatiri / @Model.Sehir / @Model.PostaKodu</td>
                            </tr>

                            <tr>
                                <th>Fatura Adresi:</th>
                                <td>@Model.AdresSatiri / @Model.Sehir / @Model.PostaKodu</td>
                            </tr>

                            <tr>
                                <th>Ödeme Bilgileri:</th>
                                <td>1234-1234-****-**** (Yapı Kredi - 3 Taksit)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
