@model List<Order>
@{
    Layout = "_AdminLayout";
}

<div class="row mt-3">
    <div class="col">
        <div class="card shadow-sm dashboard-card rounded-3">

            <!-- HEADER -->
            <div class="card-header dashboard-card-header">
                <h5 class="card-title mb-0">Siparişler</h5>
            </div>

            <div class="card-body">

                <div class="table-responsive">
                    <table class="table dashboard-table align-middle mb-0">
                        <thead>
                            <tr>
                                <th>Sipariş Id</th>
                                <th>Kullanıcı Adı</th>
                                <th>Toplam</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                                <th class="text-end" style="width: 80px;">İşlem</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.OrderId</td>

                                    <td>@item.Username</td>
<td>@item.ToplamFiyat.ToString("N2") ₺</td>


                                    <td>@item.SiparisTarihi.ToShortDateString()</td>

                                    <td>
                                        <span class="status-badge yes">Teslim Edildi</span>
                                    </td>

                                    <td class="text-end">
                                        <a asp-controller="Order"
                                           asp-action="Details"
                                           asp-route-id="@item.OrderId"
                                           class="btn btn-action go text-decoration-none">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
