@using System.IO.Compression
@model List<Order>

@section Bar {
    <section class="checkout-bar p-3">
        <div class="container">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Anasayfa</a>
                    </li>
                     <li class="breadcrumb-item">Hesabım</li>
                    <li class="breadcrumb-item">Siparişler</li>
                </ol>
            </nav>
        </div>
    </section>
}


<section class=" my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                @await Html.PartialAsync("Partials/Site/_accountSideBar")
            </div>
            <div class="col-12 col-md-9">
                <div class="card shadow py-0">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Siparişler</h5>
                    </div>
                    <div class="card-body ">
                    @if(Model.Count==0){
                        <div class="alert alert-warning">Siparişiniz Bulunmamaktadır.</div>
                    }
                        <div class="accordion" id="orders">
                            @foreach(var order in Model)
                            {
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#order_@order.OrderId">Sipariş No: #@order.OrderId</button>
                                    </h2>
                                    <div id="order_@order.OrderId" class="accordion-collapse collapse p-3" data-bs-parent="#orders">
                                        <table class="table table-bordered mb-0">
                                            <tr>
                                                <td colspan="2">
                                                    Teslim Tarihi
                                                </td>
                                                 <td colspan="3">
                                                    @order.SiparisTarihi
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    Ad Soyad
                                                </td>
                                                 <td colspan="3">
                                                    @order.AdSoyad
                                                </td>
                                            </tr>
                                             @if(@order.SiparisNotu != null)
                                             {
                                                <tr>
                                                    <td colspan="2">
                                                    Sipariş Notu
                                                    </td>
                                                    <td colspan="3">
                                                        @order.SiparisNotu
                                                    </td>
                                                </tr>
                                             
                                             }
                                            <tr>
                                                <td colspan="2">
                                                   Teslimat Adresi
                                                </td>
                                                 <td colspan="3">
                                                    @order.AdresSatiri / @order.Sehir / @order.PostaKodu / @order.Telefon
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                   Telefon Numarası
                                                </td>
                                                 <td colspan="3">
                                                    @order.Telefon
                                                </td>
                                            </tr>
                                            @foreach(var item in order.OrderItems){
                                                <tr>
                                                    <td style="width: 80px">
                                                        <img src="~/img/@item.Urun.Resim" class="img-fluid"/>
                                                    </td>
                                                    <td>
                                                        @item.Urun.UrunAdi
                                                    </td>
                                                     <td>
                                                        @item.Fiyat tl
                                                    </td>
                                                    <td>
                                                        @item.Miktar <span>adet</span>
                                                    </td>
                                                    <td>
                                                        @(item.Fiyat * item.Miktar) tl
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="3"></td>
                                                <td>Ara Toplam</td>
                                                <td>@order.AraToplam() tl</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3"></td>
                                                <td>Toplam</td>
                                                <td class="text-danger">@order.Toplam() tl</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>